.container{
position: relative;
color: white;
text-align: center;
}
.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
   }
body{
   background-color: black;
} 
.ol{
    display: block;
    /* text-align: center; */
   align-items: center;
   
}
.btn{
    background-color: orchid;
}
.footer{
    text-align: center;
    color: white;
}
.github-section{
    text-align:center;
    color: white;
}
.test-section{
    text-align: center;
    color: white;
}